.hiring {
  width: 100%;
  height: auto;
  background: linear-gradient(black, white);
}
.image {
  width: 100%;
  height: auto;
  padding: 20px;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: auto;
}
.content img {
  width: 100%;
  height: auto;
}

.content h3 {
  font-size: 30px;
}
.content p {
  margin-top: 20px;
  font-size: 20px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description label {
  align-items: start;
}
.description input {
  width: 200px;
  height: 1.5rem;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
}
.description button {
  width: 4rem;
  height: 1.5rem;
  margin-top: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.description button:hover {
  color: red;
  cursor: pointer;
}
