section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: bisque;
  border: 1px solid bisque;
  border-radius: 10px;
}
.container .form .button {
  display: flex;
  justify-content: flex-end;
}
.container .form .button button {
  width: 4rem;
  height: 2em;
  background-color: rgb(0, 0, 0);
  border: 2px solid bisque;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.container .form .button button:hover {
  cursor: pointer;
  color: red;
}
.container .form .username,
.container .form .password {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container input {
  margin-right: 0;
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
}

@media screen and (min-width: 440px) {
  .container {
    width: 400px;
  }
}
